# If this is your first time writing a language grammar, check out:
#   - https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/

'scopeName': 'source.markdown-hashtags'
'name': 'Markdown Hashtags'
'injectionSelector': 'source.gfm, text.plain, text.md'
'patterns': [
  {
    'match': '#[[:alnum:]]\+\\b'
    'name': 'markup.link.gfm'
  }
]
